div.alert.namespaces {
  margin-top: 1em;
}
ol.namespaces {
  list-style-type: none;
  display: inline-block;
  padding: 0;
  margin: 0;
}
ol.namespaces li {
  display: inline-block;
  margin: 0;
  margin-right: 0.5em;
}
footer {
  margin-bottom: 5em;
}
