.jumbotron {
  margin: 0 !important;
}

/* Suggestions */

.ui-autocomplete {
  max-height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  font-family: inherit;
  padding: 5px 0;
}

.ui-menu-item .ui-state-focus {
  background: #0081c2;
  color: #fff;
  border-radius: 0;
}

.ui-menu-item span {
  margin: 0em 0.2em;
}
.ui-menu-item .keyword {
  font-weight: bold;
}
.ui-menu-item .namespace {
  background: #aa2c30;
  color: white;
  padding: 0.2em;
}
.ui-menu-item .unreachable .keyword {
  color: #aaa;
}
.ui-menu-item .unreachable.ui-state-focus .keyword {
  color: #fff;
}
.ui-menu-item .argument-names {
  color: #444;
}
.ui-menu-item .ui-state-focus .argument-names {
  color: #ddd;
}
.ui-menu-item .unreachable .argument-names {
  color: #aaa;
}
.ui-menu-item .unreachable .title {
  color: #aaa;
}
/* /Suggestions */
