<!doctype html>
<html lang="{{ metadata.language }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ title or metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">
    <meta property="og:image" content="https://trovu.net/img/og.png">
    <meta property="og:title" content="{{ title or metadata.title }}">
    <meta property="og:url" content="{{ page.url | htmlBaseUrl(metadata.url) }}">
    <meta property="og:site_name" content="trovu.net">
    <meta property="og:description" content="{{ description or metadata.description }}">
    <meta property="og:type" content="{% if page.url == '/' %}website{% else %}article{% endif %}">
    <meta name="msapplication-TileColor" content="#487b7f">
    <meta name="theme-color" content="#343a40">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=3">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=3">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=3">
    <link rel="manifest" href="/site.webmanifest?v=3">
    <link rel="mask-icon" href="/safari-pinned-tab.svg?v=3" color="#487b7f">
    <link rel="shortcut icon" href="/favicon.ico?v=3">
    <link rel="alternate" href="/feed/" type="application/atom+xml" title="{{ metadata.title }}">

    {%- css %}* { box-sizing: border-box; }{% endcss %}
    {%- css %}{% include "node_modules/bootstrap/dist/css/bootstrap.css" %}{% endcss %}
    {%- css %}{% include "node_modules/@fortawesome/fontawesome-free/css/all.min.css" %}{% endcss %}
    {%- css %}{% include "blog/public/css/index.css" %}{% endcss %}

    <style>{% getBundle "css" %}</style>
  </head>
  <body>
    <a href="#skip" class="visually-hidden">Skip to main content</a>
    {% include "components/site-header.njk" %}
    <main id="skip" class="site-main container">
      {{ content | safe }}
    </main>
    {% include "components/site-footer.njk" %}

    <!-- Current page: {{ page.url | htmlBaseUrl }} -->
  </body>
</html>
