---
layout: layouts/home.njk
eleventyNavigation:
  key: Blog
  order: 1
---

<section class="blog-intro">
  <h1>Blog</h1>
  <p class="tagline">
    <span class="highlight">News</span> and stories from trovu.net, your web search command line.
  </p>
</section>

{% set postslist = collections.posts %}
{% include "postslist.njk" %}
