<footer class="navbar">
  <div class="container">
    <div class="left">
      <ul>
        <li>
          <a target="_blank" href="https://facebook.com/trovu.net">
            <i class="fab fa-facebook"></i>
          </a>
        </li>
        <li>
          <a target="_blank" href="https://github.com/trovu">
            <i class="fab fa-github"></i>
          </a>
        </li>
        <li>
          <a target="_blank" href="https://www.tiktok.com/@trovu.net">
            <i class="fab fa-tiktok"></i>
          </a>
        </li>
        <li>
          <a target="_blank" href="https://twitter.com/trovu_net">
            <i class="fab fa-twitter"></i>
          </a>
        </li>
        <li>
          <a target="_blank" href="https://www.youtube.com/@trovu_net">
            <i class="fab fa-youtube"></i>
          </a>
        </li>
        <li>
          <span class="text-muted"><a href="https://jaehnig.org/impressum/">Impressum</a></span>
        </li>
      </ul>
    </div>
    <div class="right">
      <details class="dropdown footer-install">
        <summary class="form-control btn btn-success">How to install</summary>
        <div class="dropdown-menu dropdown-menu-right">
          <a target="_blank" class="dropdown-item" href="https://trovu.net/docs/users/integration/#chrome">Chrome</a>
          <a target="_blank" class="dropdown-item" href="https://trovu.net/docs/users/integration/#firefox">Firefox</a>
          <div class="dropdown-divider"></div>
          <a target="_blank" class="dropdown-item" href="https://trovu.net/docs/users/integration/#raycast">Raycast</a>
          <a target="_blank" class="dropdown-item" href="https://trovu.net/docs/users/integration/#android">Android</a>
          <a target="_blank" class="dropdown-item" href="https://trovu.net/docs/users/integration/#pwa-progressive-web-app"
            >PWA</a
          >
          <div class="dropdown-divider"></div>
          <a target="_blank" class="dropdown-item" href="https://trovu.net/docs/users/integration/#general">Other</a>
        </div>
      </details>
    </div>
  </div>
</footer>
