<footer class="navbar site-footer">
  <div class="container">
    <div class="footer-links">
      <ul>
        <li><a href="https://facebook.com/trovu.net">Facebook</a></li>
        <li><a href="https://github.com/trovu">GitHub</a></li>
        <li><a href="https://www.tiktok.com/@trovu.net">TikTok</a></li>
        <li><a href="https://twitter.com/trovu_net">Twitter</a></li>
        <li><a href="https://www.youtube.com/@trovu_net">YouTube</a></li>
        <li><a href="https://jaehnig.org/impressum/">Impressum</a></li>
      </ul>
    </div>
    <div class="install-links">
      <span class="install-label">How to install</span>
      <ul>
        <li><a href="https://trovu.net/docs/users/integration/#chrome">Chrome</a></li>
        <li><a href="https://trovu.net/docs/users/integration/#firefox">Firefox</a></li>
        <li><a href="https://trovu.net/docs/users/integration/#raycast">Raycast</a></li>
        <li><a href="https://trovu.net/docs/users/integration/#android">Android</a></li>
        <li><a href="https://trovu.net/docs/users/integration/#pwa-progressive-web-app">PWA</a></li>
        <li><a href="https://trovu.net/docs/users/integration/#general">Other</a></li>
      </ul>
    </div>
  </div>
</footer>
