main .jumbotron {
  margin: 0;
}

.input-group .awesomplete {
  padding: 0;
  border: 0;
}

.awesomplete.query > ul > li {
  padding: .1em .9em;
}

.awesomplete.query > ul > li .keyword {
  font-weight: bold;
}

.awesomplete.query > ul > li .argument-names {
  color: #444;
}
.awesomplete.query > ul > li .namespace {
  background: #aa2c30;
  color: white;
  padding: 0.2em;
}

.awesomplete.query > ul > li .unreachable .keyword {
  color: #aaa;
}

.awesomplete.query > ul > li .unreachable .argument-names {
  color: #aaa;
}
.awesomplete.query > ul > li .unreachable .title {
  color: #aaa;
}
.awesomplete.query > ul > li .unreachable .namespace {
  background: #aaa;
}

/* Suggestions */

.ui-autocomplete {
  max-height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  font-family: inherit;
  padding: 5px 0;
}

.ui-menu-item .ui-state-focus {
  background: #0081c2;
  color: #fff;
  border-radius: 0;
}

.ui-menu-item span {
  margin: 0em 0.2em;
}
.ui-menu-item .unreachable.ui-state-focus .keyword {
  color: #fff;
}
.ui-menu-item .argument-names {
  color: #444;
}
.ui-menu-item .ui-state-focus .argument-names {
  color: #ddd;
}
/* /Suggestions */
