#settings-button {
  font-size: larger;
}
main .jumbotron {
  margin: 0;
}

.awesomplete {
  width: 100%;
  padding: 0;
  border: 0;
}

.awesomplete ul {
  li {
    background: #fff;
    padding: 0.1em 0.9em;
    border-bottom: 1px solid #eee;
    .keyword {
      font-weight: bold;
    }
    .argument-names {
      color: #444;
    }
    .namespace {
      background: var(--red);
      color: white;
      padding: 0.2em;
    }
    > span {
      display: grid;
      grid-template-columns: 50% 50%;
      .left {
        text-align: left;
      }
      .right {
        text-align: right;
      }
    }
    .unreachable {
      .keyword {
        color: #aaa;
      }
      .argument-names {
        color: #aaa;
      }
      .title {
        color: #aaa;
      }
      .namespace {
        background: #aaa;
      }
    }
  }
  li[aria-selected='true'] {
    .keyword {
      color: #fff;
    }
    .argument-names {
      color: #ddd;
    }
    .title {
      color: #fff;
    }
  }
}
