body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

footer {
  padding: 1em 1em;
}
.navbar .container {
  padding: 0 2em;
}
#settings-button {
  font-size: larger;
  color: white;
  font-variant: small-caps;
  cursor: pointer;
}
#log {
  text-align: left;
  background: #f8d7da;
  padding: 1em;
}
main .jumbotron {
  margin: 0;
  padding: 3em 1em;
}

.awesomplete {
  width: 100%;
  padding: 0;
  border: 0;
}

.awesomplete > ul {
  > li {
    background: #fff;
    padding: 0.1em 0.9em;
    border-bottom: 1px solid #eee;
    .keyword {
      font-weight: bold;
    }
    .argument-names {
      color: #444;
    }
    .namespace {
      background: var(--red);
      color: white;
      padding: 0.2em;
    }
    div {
      display: grid;
      grid-template-columns: 50% 50%;
      .left {
        text-align: left;
      }
      .right {
        text-align: right;
      }
    }
    div.examples {
      display: none;
      padding-left: 1em;
    }
    .unreachable {
      .keyword {
        color: #aaa;
      }
      .argument-names {
        color: #aaa;
      }
      .title {
        color: #aaa;
      }
      .namespace {
        background: #aaa;
      }
    }
  }
  > li[aria-selected='true']::before {
    content: '▶';
    display: inline;
    position: absolute;
    left: 0;
  }
  li[aria-selected='true'] {
    position: relative;
    div.examples {
      display: grid;
    }
    .keyword {
      color: #fff;
    }
    .argument-names {
      color: #ddd;
    }
    .title {
      color: #fff;
    }
  }
}
