html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;

  h2 {
    font-size: 1.2em;
    margin: 0.5em;
  }
}
main,
footer {
  a {
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
}
footer {
  display: none;
  background: #eee;
  flex-shrink: 0;
  position: sticky;
  padding: 0;
  padding-bottom: 1em;
  margin-top: 1em;
}
.navbar .container {
  padding: 0 2em;
  img.logo {
    position: absolute;
    margin: 0;
    margin-top: -13px;
    padding: 0;
    height: 50px;
  }
}
#settings-button {
  font-size: larger;
  color: white;
  font-variant: small-caps;
  cursor: pointer;
}
.navbar .reload {
  margin-left: 0.2em;
  color: white;
  font-size: 1.1em;
}
#log {
  text-align: left;
  background: #f8d7da;
  padding: 1em;
}
#intro {
  display: none;
  margin: 0;
  padding: 0.5em 0;
  color: #666;
  font-style: italic;
}
main .jumbotron {
  margin: 0;
  padding: 1em;
  padding-bottom: 0.5em;
  font-size: 1.1em;
}

#query-form {
  button[type="submit"] {
    font-size: 1.4em;
  }
}
#query {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
span.title {
  margin: 0 0.1em;
}
span.namespace,
span.tag {
  display: inline-block;
  background: var(--bs-red);
  color: white;
  padding: 0.05em 0.4em;
  border-radius: 0.2rem;
  margin: 0.1em 0.2em;
  white-space: nowrap;
}
span.namespace {
  background: var(--bs-red);
  color: white;
}
span.tag {
  background: var(--bs-yellow);
  color: black;
}

#explainer {
  display: none;
  #typewriter {
    text-align: left;
    margin: 0.5em 1em;
    .description {
      color: #666;
      font-style: italic;
    }
  }
  .cta {
    margin: 0.5em 1em;
    text-align: left;
    font-style: italic;
    color: #818182;
  }
  .testimonials {
    text-align: center;
  }
  img.testimonial {
    border-radius: 0.5em;
    margin: 0.5 1em;
  }
}

#lists {
  display: none;
}

#suggestions {
  overflow: auto;
  position: relative;
  overflow-y: auto;
  .empty {
    color: #eee;
    font-size: 10em;
    font-weight: bold;
    text-align: center;
  }
  ul {
    list-style-type: none;
    padding-left: 0em;
    margin-bottom: 3em;
    > li {
      padding: 0.25em 0.4em;
      padding-left: 1.3em;
      border-radius: 0.2rem;
      background: #fff;
      border-bottom: 1px solid #eee;
      .keyword {
        font-weight: bold;
        margin-right: 0.2em;
      }
      .argument-names {
        color: #444;
        margin-right: 0.2em;
      }
      > div {
        display: grid;
        grid-template-columns: auto auto;
        .left {
          text-align: left;
          /* Don't indent first line but subsequent ones. */
          text-indent: -0.5em;
          margin-left: 0.5em;
        }
        .right {
          text-align: right;
        }
      }
      div.description-and-tags,
      div.examples,
      div.url,
      div.needs-userscript,
      div.is-affiliate,
      div.tools {
        display: none;
        color: #666;
      }
      div.description-and-tags {
        align-items: end;
      }
      div.examples {
        padding-right: 0.2em;
      }
      div.description-and-tags {
        .left {
          font-style: italic;
        }
      }
      div.url {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .unreachable {
        .keyword {
          color: #aaa;
        }
        .argument-names {
          color: #aaa;
        }
        .title {
          color: #aaa;
        }
        .namespace {
          background: #aaa;
        }
      }
    }
    > li[aria-selected="false"] {
      cursor: pointer;
    }
    > li::before {
      display: inline;
      position: absolute;
      color: #aaa;
      font-family: "FontAwesome";
      font-weight: 900;
      font-size: 1.1em;
    }
    > li[aria-selected="false"]::before,
    li:not([aria-selected])::before {
      content: "\f0da";
      left: 1.2em;
      cursor: pointer;
    }
    > li[aria-selected="true"]::before {
      content: "\f0d7";
      left: 0.3em;
      cursor: pointer;
    }
    li[aria-selected="true"] {
      background: #eee;
      position: relative;
      div.description-and-tags,
      div.examples {
        display: grid;
      }
      div.url,
      div.needs-userscript,
      div.is-affiliate,
      div.tools {
        display: block;
      }
    }
  }
}

#help {
  padding-top: 0.5em;
  color: #aaa;
}
